
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body,html {
    background: #080808;
    color: #fff;
    scroll-behavior: smooth;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 4px 30%; 

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;

}

nav ul li{

    display: inline-block;
    list-style: none;
    margin: 20px 10px;

}

nav ul li a{

    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
    
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff0040;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    padding: 15px 10%;
}
.header-text h1{
    font-size: 60;
    margin-top: 20px;
    position: relative;
    padding: 1px 5%;

}
.header-text h1 span{
    color: #ff0000;
}
.header-text a{
    color: #ff0000;
}

/*-----------about-----------*/
#about{
    padding: 80px 50px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 34%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 18px;
    font-size: 18px;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px -10px;
}
.tab-contents ul li span{
    color: #ff003f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ---------portfolio--------- */

#portfolio{
    padding: 100px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minma(20px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    font-size: 30px;
    margin-top: 30px;
    color: #ff004f;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: scale 0.5s;
}
.btn:hover{
    background: #ff004f;
    transform: scale(1.01);
}