*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body,html {
    background: #1f1e1e;
    color: #fff;
    scroll-behavior: smooth;
}

/* --------jump to the top button-------- */

.arrow{
    
    max-height: 80px;
    position:fixed;
    right:30px;
    bottom:30px;
}
.fas{
    font-size: 40px;
    color: #ffffff;
    transition: 0.5s;
    transform: rotate(-225deg);
}

.fas:hover{
    -webkit-transform: rotate(-45deg);
}

.fas:active{
    color:#ff004f;
    transition: .1s;
}

/* --------transitions-------- */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* --------Background Image-------- */

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

/* --------sidemenu-------- */

.container{
    padding: 45px 30%; 
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;

}
nav i{
    font-size: 50px;
    padding: 30px 200px;
}
nav ul li{

    display: inline-block;
    list-style: none;
    margin: 20px 10px;

}
nav ul li a{

    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: black;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff0040;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* --------header-------- */

.header-text{
    margin-top: 20%;
    font-size: 30px;
    padding: 10px 10%;

}
.header-text h1{
    font-size: 60;
    margin-top: 20px;
    position: relative;
    padding: 1px 5%;
 
}
.header-text h1 span{
    color: #ff004f;
}
.header-text a{
    color: #ff004f;
}

/*-----------about-----------*/

#about{
    padding: 80px 50px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 34%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    font-size: 25px;
    flex-basis: 60%;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 18px;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px -10px;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ---------portfolio--------- */

#portfolio{
    align-items: center;
    padding: 50px 0;
}
#portfolio h1{
    padding: 20px 0px;
    font-size: 50px;
    align-items: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minma(20px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work{
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    font-size: 30px;
    margin-top: 30px;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: scale 0.5s;
}
.btn:hover{
    background: #ff004f;
    transform: scale(1.01);
}
/* --------contact-------- */
#links{
font-size: 14px;
text-align: center;
}
.contact-information{
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
.contact-right form{
    flex-basis: 35%;
    
}
.contact-right input, form, textarea, button{
width: 100%;
height: 50px;
}
form input, form textarea{
    width: 100%;
    height: 100px;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form, button{
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      background-color: #ff004f;
    }
    
nav ul i{

margin: -30px -190px;
}

/* --------css for small screens-------- */
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #sidemenu{
        padding: 10px 140px;
    }
    #header{
        background-image: url(images/background-2.png)
    }
    .header-text{
        padding: 10px 20px;
        margin-top: 85%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 15px;
    }
    #portfolio{
        
        width: 1000px;
        margin-left: -290px;
        
    }
}
